.header{
    position: fixed;
    width: 100vw;
    height: 40px;
    padding: 15px 0;
    overflow: hidden;
    background: var(--bg-primary);
    display: flex;
    align-items: center;
    z-index: 5000;
}

.header>div{
    flex: 1 1 auto;
}

.header .contain{
    display: flex;
}

.header .logo>h1>a{
    color: var(--color-primary);
}

.header .nav{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.header .nav ul{
    display: flex;
    align-items: center;
}

.header .nav ul>li{
    margin: 0 10px;
}

.header .nav ul>li>a{
    font-size: .75em;
    font-weight: 400;
    text-transform: uppercase;
}

.header .boxLanguage{
    position: relative;
}

.header .boxLanguage .activeLanguage{
    display: flex;
    height: 25px;
    width: 50px;
    padding: 3px 4px;
    border: 2px solid var(--color-primary);
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header .boxLanguage .activeLanguage .contenFlagLanguage{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.header .boxLanguage .activeLanguage .contenFlagLanguage>img{
    border-radius : 50%;
    overflow: hidden;
}

.header .boxLanguage .activeLanguage img{
    object-fit: contain;
}