.container{
    display: flex;
    align-items: center;
    width: 100%;
}

.contain{
    flex: 1 1 auto;
    margin: 0 28px 0 54px;
    overflow: hidden;
}

.button{
    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
    background-color: #ef443b28;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease .2s;
}

.button:hover{
    background-color: #EF443B;
}

.animation{
    position: relative;
    display: flex;
    transition: all ease .4s;
}

.buttonDisabled{
    opacity: 0;
    cursor: auto;
}

.boxGrid{
    display: grid;
    width: 100%;
    grid-gap: 30px;
    margin-left: 30px;
}

.boxGrid:first-child{
    margin-right: 0!important;
}


@media (max-width: 500px) {
    .button{
        display: none!important;
    }

    .contain{
        margin: 0;
    }

    .boxGrid{
        grid-gap: 0;
        margin-left: 0;
    }
}